.table td {
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.goals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.events div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.events div p {
    color: rgb(80, 77, 77);
    font-size: 0.6rem;
}
@media screen and ( max-width: 767px) {
    .match, .teamDetails {
        gap: 0.5rem;
    }
    .teamDetails img {
        width: 25px;
        height: 25px;
    }
}