.pageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.pageHeader h2 {
    color: rgb(124, 112, 202);
    text-decoration: underline;
}
@media screen and ( max-width: 767px) {
    .pageHeader {
        gap: 0.5rem;
    }
    .pageHeader img {
        width: 20px;
        height: 20px;
    }
}