.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.champion {
    font-weight: bolder;
}
.match {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.teamDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.status {
    color: rgb(107, 105, 105);
    padding: 1rem;
}
@media screen and ( max-width: 767px) {
    .match, .teamDetails {
        gap: 0.5rem;
    }
    .teamDetails img {
        width: 25px;
        height: 25px;
    }
}